#content-wrap {
    text-align: center;
    /* font-weight: bold;
    font-size: 20px;
    color: navy; */
}

body {
    background-color: beige;
        /* background-image: url('https://media.istockphoto.com/photos/old-manuscript-picture-id89894126?k=6&m=89894126&s=612x612&w=0&h=-tylJus1Tw13KV2Rq6bTjccq8uSDtiBfz0MLNlz1leg=');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover; */
      }

      
      /* header {
          background-image: url('https://media.istockphoto.com/photos/old-manuscript-picture-id89894126?k=6&m=89894126&s=612x612&w=0&h=-tylJus1Tw13KV2Rq6bTjccq8uSDtiBfz0MLNlz1leg=');
          display: block;
          height: 65px;
          margin: 0 auto;
        } */
        
        h1 {
            font-family: 'Cinzel', serif;
            text-align: center;
        }
img {
    max-width:1000px;
    height:auto;
    border: 5px solid #555;
    border-radius: 25px;
}

#select-books {
    background-color: rgb(179, 177, 177);
    border-radius: 5px;
}

#character-create {
    text-align: center;
}